<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>docs_upload</servlet-name>
        <servlet-class>com.lays.servlet.docs_upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_doc</servlet-name>
        <servlet-class>com.lays.servlet.get_doc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>com.lays.servlet.saveDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>docs_upload</servlet-name>
        <url-pattern>/docs_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_doc</servlet-name>
        <url-pattern>/get_doc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
</web-app>